{% extends 'AppBundle::base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
	        		<div class="col-md-10 col-sm-12 col-md-offset-1">
	        	    	<div class="contact-info">
	        	    		<h2 style="margin-top: 25px;">About Us</h2>
	        	    		<hr>
	        	            <p>We are a team of professionals. We are applying our professional expertise for the benefit of humanity.  We are using the latest developments in the financial services to support UN Refugee Entrepreneurs.  We feel this is a good way make the world an inclusive place.</p>
							<p>This project is a product of the UNICEF FinTech Jam for Good 2016.</p>
							<p>Winners of the Infosys Challenge for Financial Inclusion.</p>
							<hr>
							<h4>What we do</h4>
							<p>We provide a mechanism for refugees to access their global supporter base to help them organise their lives.</p>
							<hr>
							<h4>Our Vision</h4>
							<p>“We believe all refugees can be entrepreneurs using alternative finance.”</p>
							<hr>
							<h4>Our Mission</h4>
							<p>To inspire people to support each other as human beings across the world.</p>
							<ul>
								<li>Our users by engaging them with those who are happy to support them in their hour of need.</li>
								<li>Our local society by helping professionals up skill and re-skill themselves for an ever-changing job market.</li>
								<li>Our business stakeholders by supporting them access the innovation we generate.</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-sm-12 col-md-offset-1">
						<hr>
							<h3>Meet The Team</h3>
						<hr>	
							<div class="col-md-6 col-sm-10">
								<h4>Ondrej Dusile</h4>
								<h5>Co-Founder</h5> <p>Ondrej has 11 years of experience in financial markets with specific experience in trading, clearing,  risk management, regulation and crowdfunding  (CEE, UK, Azerbaijan). </p>
							</div>
							<div class="col-md-6 col-sm-10">
								<h4>Zufi Deo</h4>
								<h5>Co-Founder</h5><p>Zufi is a UK Top 50 Business Adviser for 2014. He co creates innovation with Entrepreneurs via www.bizstuff.co.  His CSR has supported 1,000 entrepreneurs using peer to peer networks.</p>
							</div>
							<div class="col-md-6 col-sm-10">
								<h4>Francis Chen</h4>
								<h5>Tech Adviser</h5> <p>Francis﻿ led the tech development for the Micro Chain project during his Master's at MIT.  Micro Chain is a customised version of blockchain designed for the peer to peer not for profit finance market.</p>
							</div>
							<div class="col-md-6 col-sm-10">
								<h4>Lars Diener-Kimmich</h4>
								<h5>Mentor</h5><p>Lars has two decades of passion at work in large enterprises and in a startup.  He now leads LUDENSFABER to enable organizations to run one-of-a-kind innovation projects like a startup, but in a corporate context.</p>
							</div>		
							<div class="col-md-6 col-sm-10">
								<h4>Jana Essebier</h4>
								<h5>Legal Adviser</h5> <p>Jana is a Partner at Vischer AG.  A Swiss Law firm based in Zurich.  She is supporting UN Refugee Entrepreneurs by providing legal guidance to this project. </p>
							</div>
							<div class="col-md-6 col-sm-10">
								<h4>Kilian Kleinschmidt</h4>
								<h5>Adviser</h5><p>​Kilian has spent over 25 years in International Development.  He has held senior posts with the UN.  This includes UN Camp Manager in Zaatari, Jordan.  He is also the Chairman of IPA Switch Board.</p>
							</div>
							<div class="col-md-6 col-sm-10">
								<h4>Stephanie Rupp</h4>
								<h5>Investment Adviser</h5><p>​Stephanie brings more than 17 years of experience in global impact investing, impact fund design & implementation, and microfinance, as well as crowd funding. Currently, she is the MD of Impact Investing at the Threshold Group. She is supporting UN Refugee Entrepreneurs by ensuring this project becomes Investment Ready.</p>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-sm-12 col-md-offset-1">
							<hr>
								<h3>Volunteer Co-Workers</h3>
							<hr>
							<div class="col-md-6 col-sm-10">
								<h4>​Sascha Münger</h4>
								<h5>Finance Volunteer</h5><p>​​Sascha works at SIX Payment Services.  Currently, he is a product manager on an internal innovation project within SIX Payment Services. He will be supporting UN Refugee Entrepreneurs by ensuring this project becomes investment ready.  He will also be supporting  us organise internal financial systems.</p>
							</div>
							<div class="col-md-6 col-sm-10">
								<h4>Heba El Bahey</h4>
								<h5>Technology Volunteer</h5><p>​Heba is a QA and Testing specialist based in Switzerland.  Her focus in on supporting BizGees with developing technology related internal processes.  She also brings a cultural and linguistic understanding ensuring the service design needs of the UN Refugee Entrepreneurs are effectively understood.</p>
							</div>
							<div class="col-md-6 col-sm-10">
								<h4>Robin Sengupta</h4>
								<h5>Design Volunteer</h5><p>​Robin is a Senior Innovation Consultant at Swisscom. He helps companies reach their innovation goals by the application of design thinking. He is supporting UN Refugees by designing the BizGees offering so it meets the needs of lenders and  UN Refugee Entrepreneurs.</p>
							</div>																																										
	           	    	</div>
	           	    </div>
	        	</div>
				
			</div>
		</div>
	</div><!-- End of container -->

{% endblock %}